button{
    background-color: #E0CEAB;
    box-shadow: 0px 0px 0px 6px #00000075;
    -moz-box-shadow: 0px 0px 0px 6px #00000075;
    -webkit-box-shadow: 4px 4px 6px 0px #00000075;
    border:none;
    padding: 2px 2em 2px 2em;
}

/* PLAYER CARD - player display*/
    .player-card{
        display:flex;

        font-size: 2em;
        text-align: center;

        background-color: #EBEAE8;
    }
    .player-card p{
        display:inline-block;
        width:80%;
        margin-top:auto;
        margin-bottom:auto;
    }
    .player-card img{
        display: inline-block;
        height:80%;
        margin-top:1%;
    }

/* VOTE CARD - gov vote or policy choice*/
    .vote-card{    
        display:flex;
        flex-direction:column;
        justify-content: center;
        
        height:80%;

        background-color: #EBEAE8;
        padding:5px;

        box-shadow: 0px 0px 0px 6px #00000075;
        -moz-box-shadow: 0px 0px 0px 6px #00000075;
        -webkit-box-shadow: 4px 4px 6px 0px #00000075;

    }
    .vote-card p{
        text-align:center;
    }

/* ENVELOPE */
    .envelope{
        font-family: 'Homemade Apple', cursive;
    }
    .envelope .flap{
        position:absolute;
        text-align:center;
        z-index:3;
        width:100%;
        height:50%;
        box-shadow: 0px 0px 0px 6px #00000075;
        -moz-box-shadow: 0px 0px 0px 6px #00000075;
        -webkit-box-shadow: 4px 4px 6px 0px #00000075;
    }
    .envelope .flap div{
        background-color: #C9B06F;
    }
    .envelope .sleeve{
        position:absolute;
        width:100%;
        height:100%;
        background-color: #C9B06F;
        z-index:2;
    }
    .envelope .env-contents{
        width:70%;
        height:100%;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        transition: top 1s;
    }
    .envelope .env-contents *{
        box-shadow: 0px 0px 0px 6px #00000075;
        -moz-box-shadow: 0px 0px 0px 6px #00000075;
        -webkit-box-shadow: 4px 4px 6px 0px #00000075;
    }
    .envelope.open .env-contents{
        top:-100px;
    }

/* CARD FLIP */
    .flip-container{
        perspective:800px;
    }
    .flip-card{
        transform-style: preserve-3d;
        transition: transform 1s;
        /* might need to do something about transform origin*/
    }
    .flip-card div{
        backface-visibility: hidden;
        position:absolute;
        width:100%;
        height:100%;
    }
    .flip-card .front{
        background-color:red;
    }
    .flip-card .back{
        background-color:blue;
    }
    .flip-card.vertical .back{ 
        transform:rotateX(180deg)
    }
    .flip-card.horizontal .back{ 
        transform:rotateY(180deg)
    }
    .flip-card.flipped.vertical{
        transform: rotateX( 180deg )
    }
    .flip-card.flipped.horizontal{
        transform: rotateY( 180deg )
    }
    .flip-card.edge-flip.top{
        transform-origin: center top;
    }
    .flip-card.edge-flip.top.flipped{
        transform: rotateX(-180deg)
    }


