html{
    font-family: 'Roboto', sans-serif;
}

button{
    background-color: #E0CEAB;
    box-shadow: 0px 0px 0px 6px #00000075;
    -moz-box-shadow: 0px 0px 0px 6px #00000075;
    -webkit-box-shadow: 4px 4px 6px 0px #00000075;
    border:none;
    padding: 0.75em;
}

.player-display{
    background-color: #EBEAE8;

    
}
.player-display img{
    height:2em;
    width:2em;
}

.envelope{
    font-family: 'Homemade Apple', cursive;
}
